services:
  backend:
    build:
      context: ./backend
    container_name: laravel_backend
    restart: always
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
    depends_on:
      - db
      - redis
      - reverb
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"

  queue-worker:
    build:
      context: ./backend
    container_name: laravel_queue
    restart: always
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
    depends_on:
      - db
      - redis
      - reverb
    env_file:
      - .env

  reverb:
    build:
      context: ./backend
    container_name: laravel_reverb
    working_dir: /var/www
    restart: always
    volumes:
      - ./backend:/var/www
    command: php artisan reverb:start
    ports:
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      REVERB_HOST: 0.0.0.0

  frontend:
    build:
      context: ./frontend
    container_name: nextjs_frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - CHOKIDAR_USEPOLLING=true

volumes:
  db_data:
